h1 {
    padding: 25px;
    font-size: 75px;
}

h2 {
    margin-top: 20px;
    padding: 20px;
}

h3 {
    padding: 20px;
}

/* Container holding the image and the text */
.container {
    position: relative;
  }

.container2 {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom right text */
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: gray;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.site-footer {
    background-image: linear-gradient(gray, white);
}

.row-content {
    padding: 25px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 30px;
}

.bottom-far-right {
    position: absolute;
    bottom: -30px;
    right: 85px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 85px;
}

.center {
    text-align: center;
}

.padding-top{
      padding-top: 30px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); 
}

/*
Forces carousel image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
    width:100%;
    height:100%;
}

.carousel-inner{
    width:100%;
    max-height: 600px !important;
}

.jumbotron {
    margin: 0;
    padding: 0px;
    color: black; 
    text-align: center;
    background: transparent;
}